<div class="home-container">
   
    <section class="about-me">
      <h1>About Me</h1>
      <p>Hello! I'm Amine Tarhouni, the creator of FormationSell. I’m passionate about technology and programming, and I’m committed to creating top-notch learning experiences for everyone.</p>
    </section>
  
    <section class="about-formation-sell">
      <h2>About FormationSell</h2>
      <p>FormationSell is an online platform dedicated to offering high-quality programming and development courses. Whether you're just starting or looking to level up, FormationSell has something for everyone.</p>
    </section>

    <section class="project-overview">
        <h2>CodeForge Academy</h2>
        <p>CodeForge is your one-stop platform for mastering essential skills. We offer top-quality online courses in development, programming, design, and more.</p>
        <p>Join a community of learners and professionals, and take your career to the next level with CodeForge's expert-led content.</p>
      </section>
  </div>
       