.main-content {
    margin-top: 50px; /* Adjust to the height of your navbar */
    padding: 10px;    /* Optional padding for content */
  }
  .welcome-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: seashell;
    text-align: center;
    padding: 20px;
  }
  
  .welcome-message h1 {
    font-size: 3rem;
    color: pink;
    font-weight: bold;
  }
  
  .welcome-message p {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .welcome-message a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .welcome-message a:hover {
    text-decoration: underline;
  }
  